env:
    global:
    - BIN_DIR=$HOME/bin

sudo: required

language: python

before_install:
    # installing terraform
    - wget -O /tmp/terraform.zip https://releases.hashicorp.com/terraform/0.11.1/terraform_0.11.1_linux_amd64.zip
    - unzip /tmp/terraform.zip
    - mkdir -p $BIN_DIR
    - mv /tmp/terraform $BIN_DIR/
    - export PATH=$PATH:$BIN_DIR
    - rm -f /tmp/terraform.zip
    
#    - docker-compose up -d
#    - mysql -u duoquadra -p -D training42 -h $DBHOST -P 3306 < sql/fixtures.sql

script:
    - cd simple-php-app/terraform
    - terraform init
    - terraform plan
    - terraform apply -auto-approve
    - cd ..
